@import "@/assets/css/helpers";

html,
body {
  background-color: $color-white;
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.container {
  padding: 0 10px;

  @include respond-above(md) {
    padding: 0 20px;
  }
}
