// Core
$color-white: #ffffff;
$color-light: #f7f5f0;
$color-dark: #070707;

// Error states
$color-red: #a33737;

// Accents
$color-dark-green: #527462;
$color-dark-blue: #39887C;
$color-light-blue: #c3d6d6;
$color-light-green: #c0c49b;